<div>
    <form  ng-submit="login()">
        <div id="loginContainer" class="centered">
            <h1>Prisijungimas</h1>
            <h2>El. paštas</h2>
            <input class="form-control login-inputs" id="emailField" type="text">
            <h2>Slaptažodis</h2>
            <input class="form-control login-inputs" id="passwordField" type="password">
            <input class="btn btn-default" type="submit" value="Jungtis">
            <input class="btn btn-default" type="button" value="Registruotis">
        </div>
    </form>
</div>