<head>

    <title>Registracija</title>
</head>

<div align="center">
    <form ng-submit="register()">
        <table class="registrationTable">

            <h1>Registruokitės konsultacijai internetu</h1>



            <tr>
                <td><div class = "field">Vardas *</div></td>
                <td colspan="2"><input class="field" id="nameField" type="text"></td>
            </tr>
            <tr>
                <td><div class = "field">Pavardė *</div></td>
                <td colspan="2"><input class="field" id="surnameField" type="text"></td>
            </tr>
            <tr>
                <td><div class = "field">Telefonas susisiekti *</div></td>
                <td colspan="2"><input name="phone" type="text" value="+370 " id="phoneField"  />
            </tr>
            <tr>
                <td><div class = "field">El paštas *</div></td>
                <td colspan="2"><input class="field" id="emailField" type="text"></td>
            </tr>

            <tr>
                <td>Banko skyrius</td>
                <td colspan="2">
                    <select id="unitSelect">
                        <option value="Nepasirinkta" selected>Nepasirinkta</option>
                        <option value="Antakalnio45">Antakalnio g. 45</option>
                        <option value="Ateities91">Ateities g. 91 (PC „Mandarinas")</option>
                        <option value="Gedimino56">Gedimino pr. 56</option>
                        <option value="Konstitucijos20A">Konstitucijos pr. 20A, dirba Būsto Centras</option>
                        <option value="Ozo25">Ozo g. 25 (PPC „Akropolis")</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td><div class = "date">Data</div></td>
                <td><input id="dateField"/></td>
                <td>
                    <select ng-init="dayOnClick" id="timeField">   </select></td>

            </tr>
            <td>Tema</td>
            <td colspan="2">
                <select id="topicSelect">
                    <option value="Nepasirinkta" selected>Nepasirinkta</option>
                    <option value="Taupymas ir investavimas">Taupymas ir investavimas</option>
                    <option value="Pensijos ir kaupimas">Pensijos ir kaupimas</option>
                    <option value="Gyvybės draudimas">Gyvybės draudimas</option>
                    <option value="Ne gyvybės draudimas">Ne gyvybės draudimas</option>
                    <option value="Paskolos, lizingas">Paskolos, lizingas</option>
                    <option value="Kasdieninių finansų valdymas">Kasdienių finansų valdymas</option>
                </select>
            </td>
            </tr>

            <tr>
                <td><div clas="field long">Pastabos, komentarai</div></td>
                <td colspan="2"><textarea id="commentField" cols="60" rows="10"></textarea></td>
            </tr>

            <tr>

                <td colspan="2" valign="bottom" align="left" >

                    <button class="btn btn-default" ng-click="cancel()">Atšaukti</button>
                </td>
                <td valign="bottom" align="right"><input class="btn btn-default" type="submit" value="Siųsti"></td>
            </tr>


        </table>
    </form>

</div>
