<head>

    <title>Registracijos peržiūra</title>

</head>

<div class="centered" >

    <h2>Registracijos internetu</h2>
    <table class="table">
        <thead>
            <tr>
                <td>Data</td>
                <td>Banko skyrius</td>
                <td>Tema</td>
                <td colspan="2" align="center">Veiksmai</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in products">
                <td>{{x.date}}</td>
                <td>{{x.unit}}</td>
                <td>{{x.topic}}</td>

                <td><a ng-click="regconf(x.date)">Peržiūrėti</a></td>
                <td><a ng-click="cancel(x.date)">Atsisakyti</a></td>
            </tr>
        </tbody>
    </table>

    <a ng-click="regi()"> Nauja registracija </a>

</div>

