<head>

    <title>Registracijos peržiūra</title>

</head>

<div class="centered" >

    <table>
        <thead>
        <tr>
            <th colspan="5"><h2>Registracijos internetu</h2></th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>Data</td>
            <td>Banko skyrius</td>
            <td>Tema</td>
            <td colspan="2" align="center">Veiksmai</td>
        </tr>
        </tbody>

        <tfoot>
        <tr ng-repeat="x in names">
            <td>{{x.Name}}</td>
            <td>{{x.Country}}</td>

        </tr>
        </tfoot>

    </table>

    <a ng-click="regi()"> Nauja registracija </a>

</div>

