<head>

    <title>Registracijos peržiūra</title>

</head>

<div class="centered" >

    <h2>Registracijos internetu</h2>
    <table>
        <thead>
            <tr>
                <td>Data</td>
                <td>Banko skyrius</td>
                <td>Tema</td>
                <td colspan="2" align="center">Veiksmai</td>
            </tr>
        </thead>

        <tbody>
        <tr ng-repeat="x in products">
            <td>{{x.data}}</td>
            <td>{{x.unit}}</td>
            <td>{{x.topic}}</td>

            <td><a ng-click="regconf()">Peržiūrėti</a></td>
            <td><a ng-click="cancel()">Atsisakyti</a></td>
        </tr>

        <!--<tr ng-repeat="x in products | filter: { color: blue }">
             <td>{{x.id}}</td>
            <td>{{x.name}}</td>
            <td>{{x.color}}</td>

            <td><a ng-click="regconf()">Peržiūrėti</a></td>
            <td><a ng-click="cancel()">Atsisakyti</a></td>
        </tr>-->
        </tbody>

        <tfoot>

        </tfoot>

    </table>

    <a ng-click="regi()"> Nauja registracija </a>

</div>

